.coll{
    color: rgb(248, 247, 248) !important;
}
@media (min-width: 1000px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1460px !important;
        padding: 0 !important;
    }
}


    


