*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    width: 100vw;
    background-color: rgb(8, 0, 255);
    .nav--link{
        color: aliceblue;
        text-decoration: none;
        height: 5vw;
        width: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .nav__select{
        background-color: rgb(8, 0, 255);
        color: aliceblue;
        border: none;
        outline: none;
    }
    .nav--link:hover{
        color: aliceblue;
        font-size: 20px;

    }

}